CompileFlags: 

  CompilationDatabase: build/stm32h723 

  Add: 

    - -std=c++20 

    - --target=arm-none-eabi 

    - -mcpu=cortex-m7 

    - -mthumb 

    - -mfpu=fpv5-d16 

    - -mfloat-abi=hard 

    - -DSTM32H723xx 

    - -DSTM32H7 

    - -DUSE_HAL_DRIVER 

    - -D__cpp_lib_span=202002L 

    - -DGNUC 

    - -Darm 

    - -DARM_ARCH_7EM 

    - -Dthumb2 

 

    # Project include paths. These are relative to the workspace root. 

    - -Icommon/drivers/bus 

    - -Icommon/drivers/io 

    - -Icommon/drivers/platform/stm32h7 

    - -Icommon/drivers/time 

    - -Icommon/core/periph 

    - -Icommon/core/utils 

    - -Imcu_support/stm32/h7xx 

    - -Imcu_support/stm32/h7xx/HAL 

    - -Imcu_support/CMSIS/include 

 

Index: 

  Background: Build 

 

Diagnostics: 

  ClangTidy: 

    Add: 

      - readability-* 

      - performance-* 

      - bugprone-* 

    Remove: 

      - readability-magic-numbers 

      - readability-uppercase-literal-suffix 

 

Hover: 

  ShowAKA: true 

 